<a href="https://colab.research.google.com/github/nagendra-98/Nagendra-gmail/blob/main/Copy_of_Assessment2B.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

###### Assessment

###### I am going to provide two .csv files , you are supposed to work on them and have to provide solutions to the following problems

###### import necessary libraries

In [ ]:
import pandas as pd
import numpy as np

###### merge those two csv files (after getting as dataframes, get them as a single dataframe)

In [ ]:
df1=pd.read_csv("college_1.csv")
df2 =pd.read_csv("college_2.csv")

In [ ]:
df3=pd.merge(df1,df2)
pd.concat([df1, df2],axis=0)

/usr/local/lib/python3.7/dist-packages/pandas/core/reshape/merge.py:1208: UserWarning: You are merging on int and float columns where the float values are not equal to their int representation
  UserWarning,

,Name,python,mysql,Previous Geekions,CodeKata Score,Department,Rising,python_en,computational_thinking
0,A.Dharani,82.0,20.0,24500,24500,Computer Science and Engineering,0,NaN,NaN
1,V.JEEVITHA,82.0,20.0,21740,21740,Computer Science and Engineering,0,NaN,NaN
2,HEMAVATHI.R,100.0,100.0,19680,19680,Computer Science and Engineering,0,NaN,NaN
3,Mugunthan S,100.0,47.0,10610,10610,Computer Science and Engineering,0,NaN,NaN
4,Sathammai.S,100.0,8.0,8980,8980,Computer Science and Engineering,0,NaN,NaN
...,...,...,...,...,...,...,...,...,...
30,praveen raj j,24.0,0.0,2380,2380,Computer Science and Engineering,0,-1.0,0.0
31,AMARNATH D,-1.0,12.0,1890,1890,Electronics and Communication Engineering,0,52.0,-1.0
32,bala,32.0,0.0,1720,1720,Electronics and Communication Engineering,0,49.0,-1.0
33,XY Z,-1.0,-1.0,0,0,Computer Science and Engineering,0,20.0,-1.0
34,Hariharan,-1.0,-1.0,0,0,Computer Science and Engineering,0,-1.0,0.0

###### Take each csv file , split that csv file into multiple categories (example csv files are added in the repo)

###### consider if the codekata score exceeds 15000 points(present week) then make a csv on those observations as Exceeded expectations.csv

###### if  10000<codekata score<15000   (Reached_expectations.csv)

###### if  7000<codekata score<10000   (Needs_Improvement.csv)

###### if  codekate score < 7000        (Unsatisfactory.csv)

In [ ]:
df=pd.DataFrame(df3)

In [ ]:
df[df["CodeKata Score"]==15000]

Empty DataFrame
Columns: [Name, python, mysql, Previous Geekions, CodeKata Score, Department, Rising, python_en, computational_thinking]
Index: []

In [ ]:
df.head(15000)

Empty DataFrame
Columns: [Name, python, mysql, Previous Geekions, CodeKata Score, Department, Rising, python_en, computational_thinking]
Index: []

In [ ]:
df.isnull()

Empty DataFrame
Columns: [Name, python, mysql, Previous Geekions, CodeKata Score, Department, Rising, python_en, computational_thinking]
Index: []

In [ ]:
df.index

Index([], dtype='object')

###### Average of previous week geekions vs this week geekions (i.e Previous Geekions vs CodeKata Score)

In [ ]:
df.sort_index(ascending = True)

Empty DataFrame
Columns: [Name, python, mysql, Previous Geekions, CodeKata Score, Department, Rising, python_en, computational_thinking]
Index: []

###### No of students participated

In [ ]:
df.iloc[0:]

Empty DataFrame
Columns: [Name, python, mysql, Previous Geekions, CodeKata Score, Department, Rising, python_en, computational_thinking]
Index: []

###### #Average completion of python course or my_sql or python english or computational thinking

In [ ]:
df.loc["A.Dharani":]

Empty DataFrame
Columns: [Name, python, mysql, Previous Geekions, CodeKata Score, Department, Rising, python_en, computational_thinking]
Index: []

###### rising star of the week (top 3 candidate who performed well in that particular week)

In [ ]:
df*df

Empty DataFrame
Columns: [Name, python, mysql, Previous Geekions, CodeKata Score, Department, Rising, python_en, computational_thinking]
Index: []

###### Shining stars of the week (top 3 candidates who has highest geekions)

In [ ]:
df.rank()

Empty DataFrame
Columns: [Name, python, mysql, Previous Geekions, CodeKata Score, Department, Rising, python_en, computational_thinking]
Index: []

###### Department wise codekata performence (pie chart)

###### Department wise toppers (horizantal bar graph or any visual representations of your choice)

In [ ]:
df.rank()

Empty DataFrame
Columns: [Name, python, mysql, Previous Geekions, CodeKata Score, Department, Rising, python_en, computational_thinking]
Index: []

In [ ]:
df.rank(ascending = False)

Empty DataFrame
Columns: [Name, python, mysql, Previous Geekions, CodeKata Score, Department, Rising, python_en, computational_thinking]
Index: []

In [ ]:
df.rank(ascending = True)

Empty DataFrame
Columns: [Name, python, mysql, Previous Geekions, CodeKata Score, Department, Rising, python_en, computational_thinking]
Index: []

In [ ]:
df.rank(ascending=True)

Empty DataFrame
Columns: [Name, python, mysql, Previous Geekions, CodeKata Score, Department, Rising, python_en, computational_thinking]
Index: []